.createuser {
    flex: 4;
    padding: 2px;
}
.newUserForm {
    display:flex ;
    flex-wrap: wrap;
}
.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #896;
}
.newUserItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid groove;
    border-radius: 5px;
}
.userGender > input {
    margin-top: 15px;
}
.userGender > label {
    margin: 10px;
    font-size: 15px;
    color: grey;
}
.userSelect {
    height: 40px;
    border-radius: 5px;
}
.newUserBtn {
    width: 200px;
    border: none;
    background-color:#170055;
    color: #896;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}