.list{
    flex: 4;
}
.listList {
    display: flex;
    align-items: center;
}

.ListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.editlist {
    border: none;
    border-radius: 10%;
    padding: 10px 10px;
    /* background-color: cadetblue; */
    color: darkseagreen;
    cursor: pointer;
    margin-right: 15p;
}

.deletelist {
    color: firebrick;
    cursor: pointer;
}